body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 1.48;
  margin: 0;
  padding: 0;
  
}

/*loading*/
.outer-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: #fff;
}
.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}
.loader-1 .loader-outter {
  position: absolute;
  border: 4px solid #100d20;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

.loader-1 .loader-inner {
  position: absolute;
  border: 4px solid #100d20;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

@-webkit-keyframes loader-1-outter {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes loader-1-outter {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-1-inner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}

@keyframes loader-1-inner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}





.w-100 {
  width: 100%;
}
.center {
  text-align: center;
}
h1,h2,h3,h4,h5 {
  margin-top: 0;
}
p {
  margin-top: 0;
}
*{
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

.img-roadmap {
  max-height: calc(100vh - 160px);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.col-lg-4 {
  width: 100%;
  max-width: 33.3333%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-lg-5 {
  width: 100%;
  max-width: 41.6666%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-lg-6 {
  width: 100%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-lg-7 {
  width: 100%;
  max-width: 58.3333%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-lg-8 {
  width: 100%;
  max-width: 66.6666%;
  padding-left: 15px;
  padding-right: 15px;
}


.fp-tableCell {
  position: relative;
}
.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 50px 0;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 0;
}

.title-style {
  font-size: 48px;
  line-height: 1.2;
}
.titles {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 70px;
}
.title-1 {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.title-1 img {
  height: 36px;
  margin-right: 15px;
}
.mt-3 {
  margin-top: 30px;
}
.des {
  display: block;
  width: 100%;
}
.des.center {
  margin-top: auto;
  background: rgba(18, 13, 30, 1);
  border-top: 2px solid #EA8CA6 ;
}
.section0,.section17 {
  background: url(../img/bgd-1.png) center no-repeat;
  background-size: cover;
}
.section16 {
  background: url(../img/bgd-3.png) top right no-repeat;
  background-size: cover;
}
.section1 {
  background: url(../img/bgd-1.png) center no-repeat;
  background-size: cover;
}

.section2,.section3,.section4,.section5,.section6,.section7,.section8,.section9,.section10,.section11,.section12,.section13,.section14,.section15 {
  background: url(../img/bgd-2.png) top right no-repeat;
  background-size: cover;
}
.section > .container {
  padding-top: 160px;
}

.padding-right {
  padding-right: 50px;
}
.list-min {
  margin-top: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}
.list li {
  margin-bottom: 20px;
}
.list li p {
  margin: 15px 0 0 30px;
}
.list-1 {
  padding-left: 25px;
}
.list-1 li {
  margin-top: 10px;
}

.outer-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.outer-box .box {
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
}
.outer-box .box span {
  border: 2px solid #6751A5;
  min-height: 170px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  padding: 0 8px;
}
.outer-box .box-full {
  padding-top: 30px;
  width: 100%;
  
}

.box-bottom {
  background: linear-gradient(101.31deg, #451E8A -10.11%, #843DA1 48.92%, #EA8CA6 103.19%);
  padding: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 5%;
}

.outer-4-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.outer-4-box .box-token {
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  padding-top: 20px;
}
.outer-4-box .box-token span {
  background: linear-gradient(114.78deg, #451E8A -16.87%, #843DA1 46.66%, #EA8CA6 105.07%);
  min-height: 170px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  padding: 0 10px;
}

.art-streams {
  display: flex;
  padding: 20px 0;
  min-height: 215px;
  
}
.art-streams .number {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/outer-number.png) center no-repeat;
  background-size: contain;
}
.art-streams .des {
  flex-grow: 1;
  width: 1px;
  padding-left: 20px;
}
.art-streams .des p {
  margin: 10px 0 0 0;
  font-size: 18px;
}

.outer-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
}
.art-team {
  padding-left: 30px;
  padding-right: 30px;
  width: 25%;
  padding-top: 30px;
  text-align: center;
}
.art-team img {
  max-width: 180px;
}
.art-team .des p {
  font-size: 16px;
  margin-bottom: 0;
  letter-spacing: -1px;
  
}
.art-team .des strong {
  font-size: 18px; letter-spacing: -0.8px;  display: block;
  margin-top: 5px;
}





/*section0*/
.section0 {
  text-align: center;
}
.logo {
  display: block;
  text-align: center;
}
.logo img {
  max-width: 500px;
}
.logo-s img {
  width: 300px;
}
.heading h1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 48px;
}
.heading h2 {
  font-size: 48px;
  margin: 0;
  font-weight: 500;
}
.section17  .heading strong {
  font-size: 110px;
  text-align: center;
  display: block;
  margin-bottom: 20%;
}



.mobile {
  display: none;
}
.list-1-style {margin-bottom: 90px;}



@media screen and (min-width: 992px){
  .container {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
  }
}
@media screen and (min-width: 1199px){
  .fp-tableCell {
    display: flex;
    align-items: center;
  }
  .bottom {
    margin-top: auto!important;
  }
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
}
@media screen and (max-width: 1199px){
  .list-1-style {margin-bottom: 0;}
  .title-style {
    font-size: 32px;
  }
  .logo img {
    max-width: 60%;
  }
  .art-team {
    width: 33.3333%;
  }
  .art-streams {
    min-height: 0;
  }
  .outer-4-box { margin-bottom: 40px;}
  .padding-right {
    padding-right: 15px;
  }
  .titles {
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .col-lg-4 ,.col-lg-5 ,.col-lg-6 ,.col-lg-7 ,.col-lg-8 {
    max-width: 100%;
  }
  .art-team img {
    max-width: 100%;
  }
  body {
    font-size: 16px;
  }
  .box-bottom {
    border-radius: 20px;
  }
  .title {
    position: static;
    font-size: 32px;
  }
  .title .container {
    padding-left: 0;
    padding-right: 0;
  }
  .section > .container {
    padding-top: 0;
  }
.section {
  padding: 50px 0;
}
.outer-box .box {
  width: 50%;
  padding-top: 30px;
}
.outer-box .box-full {
  width: 100%;
}

}
@media screen and (max-width: 991px){
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
  .art-streams .number {
    width: 100px;
    height: 100px;
  }
  .section  {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .titles  {
    text-align: center;
  }
  .title-style {
    text-align: center;
  }
  .container.mt-3 {
    margin-top: 0!important;
  }
  .title {
    text-align: center;
    padding-top: 10px;
  }
  .container {
      width: 100%;
      padding: 0 15px;
  }
  .outer-team {
    margin-left: -15px;
    margin-right: -15px;
  }
  .art-team {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
  
  .section16 {
    background: url(../img/bgd-3.png) top left no-repeat;
    background-size: cover;
  }
  
  
  .section2,.section3,.section4,.section5,.section6,.section7,.section8,.section9,.section10,.section11,.section12,.section13,.section14,.section15 {
    background: url(../img/bgd-2.png) top left no-repeat;
    background-size: cover;
  }
  .section17 .heading strong {
    margin-bottom: 0;
    font-size: 48px;
  }
}
@media screen and (max-width: 540px){
  .heading h1 {
    font-size: 42px;
    margin-bottom: 5px9;
  }
  .heading h2 {
    font-size: 36px;
    line-height: 1.1;
  }
  .art-streams .des p, .art-team .des strong {
    font-size: 16px;
  }
  .art-team .des p {font-size: 15px;}
  .section16 {
    padding-bottom: 0!important;
  }
  .des.center {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 30px;
    position: relative;
  }
  .section0:after, .section17:after {
    display: none;
  }
  .section:after {
    content: "";
    width: 97px;
    height: 42px;
    background: url(../img/logo-maybe.png) 0 0 no-repeat;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .heading h2 {
    /* line-height: 1.2; */
    margin-bottom: 15px;
  }
  .list {
    font-size: 20px;
  }
  .title {padding-top: 20px;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
    font-size: 29px;
  }
  
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbb; 
}


@media screen and (min-width: 1199px) and (max-width: 1440px) {
  .list-1-style {margin-bottom: 0;}
  .center.mt-3 {
    width: 100%;
    margin: 0!important;
  }
  .style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .style img {
    width: 70%;
  }
  .section17 .heading strong {
    margin-bottom: 0;
  }
    body {
      font-size: 15px;
    }
    .logo img {
      max-width: 500px;
    }
    .title {
      padding: 30px 0;
      font-size: 36px;
    }
    .title-style {
      font-size: 36px;
      margin-bottom: 20px;
    }
    .titles {
      margin-bottom: 20px;
    }
    .art-team img {
      width: 50%;
    }
    .art-team .des p {
      font-size: 14px;
    }
    .art-team .des strong {
      font-size: 16px;
    }
}