body {
  font-family: 'Poppins', sans-serif;
  color: #E2E2E2;
  font-size: 16px;
  line-height: 1.48;
  margin: 0;
  padding: 0;
  background: #020205;
}
a, button, input {
  transition: all .2s ease-in-out 0s;
  -moz-transition: all .2s ease-in-out 0s;
  -webkit-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  outline: 0!important;
}
/*icon*/
.icon-check {
  width: 80.5px;
  height: 80.5px;
  background: url(../img/landing-2/icon-check.png) center no-repeat;
  background-size: contain;
  display: inline-block;
  margin-bottom: 20px;
}


.border-bottom {
  padding-bottom: 2px;
  position: relative;
}
.border-bottom:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right,  #EF5DA8, #C95EBA, #AE5EC8, #5D5FEF);
}

.padding-right {
  padding-right: 50px!important;
}
.padding-left {
  padding-left: 50px!important;
}
.btn-style {
  padding: 2px;
  background: linear-gradient(to right,  #EF5DA8, #C95EBA, #AE5EC8, #5D5FEF);
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  overflow: hidden;
}
.btn-style span {
  padding: 0 30px;
  height: 58px;
  background: #110b1e;
  display: block;
  line-height: 58px;
  color: #fff;
  text-decoration: none;
  border-radius: 29px;
transition: all .2s ease-in-out 0s;}
.btn-style:hover span {
  background: none;
}



/*loading*/
.outer-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: #fff;
}
.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}
.loader-1 .loader-outter {
  position: absolute;
  border: 4px solid #100d20;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

.loader-1 .loader-inner {
  position: absolute;
  border: 4px solid #100d20;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

@-webkit-keyframes loader-1-outter {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes loader-1-outter {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-1-inner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}

@keyframes loader-1-inner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}

.d-flex {
  display: flex;
}
.center {
  align-items: center;
}

/*header*/
.header {
  background: url(../img/bgd-1.png) bottom center no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header .logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
.header h1 {
  display: inline-block;
  font-size: 72px;
  background: linear-gradient(to right, #FCDDEC, #EF5DA8, #C95EBA, #AE5EC8, #5D5FEF, #B55EC4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 120px;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.1;
}
.header h2 {
  font-size: 48px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

/*section*/
.section {
  padding: 80px 0;
}

/*outer-style*/
.outer-style {
  border-radius: 20px;
  padding: 2px;
  background-image: linear-gradient(to right bottom, #5d5fef, #9c58df, #c354cd, #dd55ba, #ef5da8);
}
.outer-style .inner-style {
  background: #13121A;
  padding: 50px;
  border-radius: 20px;
}
.mb-5 {
  margin-bottom: 50px;
}
.title h3 {
  margin: 0 0 30px 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1;
  color: #fff;
}
.title .small-txt {
  font-size: 17px;
}

.title-1 {
  margin-bottom: 30px;
  margin-top: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.title-1 img {
  width: 64px;
  margin-right: 20px;
  display: block;
  margin-bottom: 32px;
}

.item-story {
  padding: 5px 0;
}
.item-story p {
  padding-left: 20px;
  margin-bottom: 0;
  padding-top: 5px;
}
.cat {
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.outer-img img {
  display: block;
} 

.item {
  padding-left: 17px;
  position: relative;
  margin-bottom: 10px;
}
.item::before {
  position: absolute;
  left: 0;
  top: 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  content: "";
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.list .col {
  padding: 0 50px;
}
.list-1 {
  margin-top: 50px;
  padding: 40px 30px;
  background: rgba(165, 166, 246, 0.3);
  border-radius: 10px;
}
.list-1 ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
}
.list-1 ul:after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 1px;
  background: #fff;
}
.list-1 ul li {
  width: 25%;
  text-align: center;
  padding: 20px 40px;
  border-left: 1px solid #eee;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.list-1 ul li:first-child {
  border-left: 0;
}
.list-1 p {
  margin-bottom: 0;
  text-align: center;
}

.box-nft {
  text-align: center;
}
.box-nft span {
  display: block;
}
.box-nft .icon-s {
  height: 96px;
}

.w-100 {
  width: 100%;
}
.center {
  text-align: center;
}
h1,h2,h3,h4,h5 {
  margin-top: 0;
}
p {
  margin-top: 0;
}
*{
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.mt-8 {
  margin-top: 50px;
}
.mb-8 {
  margin-bottom: 80px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.row-style {
  margin-left: -25px;
  margin-right: -25px;
}

.row-style .col-lg-6 {
  margin-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
}
.col-lg-3 {
  width: 100%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-lg-4 {
  width: 100%;
  max-width: 33.3333%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-lg-5 {
  width: 100%;
  max-width: 41.6666%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-lg-6 {
  width: 100%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-lg-7 {
  width: 100%;
  max-width: 58.3333%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-lg-8 {
  width: 100%;
  max-width: 66.6666%;
  padding-left: 15px;
  padding-right: 15px;
}

.section1 {
  background: url(../img/bgd-1.png) center no-repeat;
  background-size: cover;
}

/*list-haft*/
.list-haft {
  padding-left: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.list-haft ul {
  padding-left: 16px;
 
}
.list-haft ul li {
  margin: 5px 0;
  letter-spacing: -0.8px;
}

.outer-nft {
  padding: 1px;
  background-image: linear-gradient(to right bottom, #99858e, #796b75, #5b535b, #3f3b42, #262529, #24232a, #22222b, #1f202c, #313248, #444565, #585984, #6e6ea4);
  border-radius: 10px;
  margin-bottom: 220px;
}
.outer-nft .inner-nft {
  background: #020205;
  border-radius: 10px;
  padding: 60px 50px;
}

.box-bottom {
  padding: 1px;
  background-image: linear-gradient(to right bottom, #99858e, #796b75, #5b535b, #3f3b42, #262529, #24232a, #22222b, #1f202c, #313248, #444565, #585984, #6e6ea4);
  border-radius: 10px;
  margin-top: 80px;
  text-align: center;
  margin-bottom: -220px;
}
.box-bottom p {
  margin-bottom: 0;
  margin-top: 20px;
}
.box-bottom .inner {
  background: #020205;
  border-radius: 10px;
  padding: 40px;
  background: #131725;
}

.style {
  display: flex;
  align-items: center;
}

/*art-title*/
.art-title {
  padding: 1px;
  background-image: linear-gradient(to right bottom, #99858e, #796b75, #5b535b, #3f3b42, #262529, #24232a, #22222b, #1f202c, #313248, #444565, #585984, #6e6ea4);
  border-radius: 10px;
}
.art-title .inner {
  background: #020205;
  border-radius: 10px;
  padding: 55px 35px;
}
.art-title .inner p:last-child {
  margin-bottom: 0;
}
.full-h {
  height: 100%;
}
.full-h .inner {
  height: 100%;
}
/*art-style*/
.art-style {
  padding: 55px 35px;
  background-image: linear-gradient(to bottom, #ef5da8, #bb4f9f, #884290, #56357a, #262760);
  border-radius: 10px;
}
.art-style .inner p:last-child {
  margin-bottom: 0;
}

.outer-style .inner  {
  background-image: linear-gradient(to right, #424667, #33364e, #252636, #17171f, #020205);
  border-radius: 20px;
  padding: 50px;
}

.mobile {
  display: none;
}

.section-avatar{padding-top: 0; background: linear-gradient(170.34deg, #EF5DA8 -22.6%, #232265 13.99%, #200E49 93.68%, #CA53A7 124.25%);
  backdrop-filter: blur(3.225px);position: relative;margin-top: 70px;}

.title-up {
    background: linear-gradient(to bottom, #EF5DA8 0%, #B35EC5 50%, #5D5FEF 100%);
    padding: 2px;
    position: relative;
border-radius: 20px;display: block;width: 800px;margin: 0 auto 0 auto;transform: translateY(-70px);}
.title-up h3 {
  height: 140px;
  display: block;
text-align: center;line-height: 140px;background: #020205;margin: 0;border-radius: 20px;font-size: 46px;}
.title-up h3 span {
      background: linear-gradient(to right, #f7bbd8,  #C95EBA, #AE5EC8, #5D5FEF, #B55EC4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.art-streams {
  display: flex;
  padding: 20px 0;
  min-height: 215px;
  
}
.art-streams .number {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/outer-number.png) center no-repeat;
  background-size: contain;
}
.art-streams .des {
  flex-grow: 1;
  width: 1px;
  padding-left: 20px;
}
.art-streams .des p {
  margin: 10px 0 0 0;
  font-size: 18px;
}

.outer-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.outer-team.right {
  justify-content: right;
}
.art-team {
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
  margin-top: 30px;
  
 
}
.art-team .outer {
  padding: 1px;
  background-image: linear-gradient(to right bottom, #99858e, #796b75, #5b535b, #3f3b42, #262529, #24232a, #22222b, #1f202c, #313248, #444565, #585984, #6e6ea4);
  border-radius: 12px;
  height: 100%;
}
.art-team .outer .inner {
  background: #020205;
  border-radius: 12px;
  padding: 15px 15px 20px 15px;
  height: 100%;
}
.art-team img {
 width: 100%;
}
.art-team .des p {
  font-size: 16px;
  margin-bottom: 0;
  letter-spacing: -1px;
  
}
.art-team .des strong {
  font-size: 18px; letter-spacing: -0.8px;  display: block;
  margin-top: 5px;
}
.section-roadmap {
  border-top: 2px solid #EA8CA6;
  margin-top: 20px;
  border-bottom: 2px solid #EA8CA6;
}
.section-appendix {
  text-align: center;
}

.section-achievement {
  background: url(../img/bgd-2-1.png) center bottom no-repeat;
}
.section-milestone {
  background: url(../img/bgd-2-2.png) center top no-repeat;
padding-bottom: 100px;}
.section-growth {
  padding-top: 0;
}
.logo-s {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}
.section-appendix .heading strong {
  font-size: 90px;
  width: 451px;
  text-transform: uppercase;
  background: linear-gradient(to right,  #EF5DA8, #C95EBA, #AE5EC8, #5D5FEF, #B55EC4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block-1 {
  background: #292D44;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
}
.title-s{
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.section-end {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../img/bgd-1.png) top center no-repeat;
  background-size: cover;
}
.section-end img {
  max-width: 600px;
  
}


@media screen and (min-width: 992px){
  
  .container {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
  }
  .order-lg-first {
    order: -1!important;
  }
  .order-lg-last {
    order: 6!important;
  }
}
@media screen and (min-width: 1199px){
  .container {
      max-width: 1140px;
      width: 100%;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
  }
}
@media screen and (max-width: 1199px){
  
  .col-lg-4 ,.col-lg-5 ,.col-lg-6 ,.col-lg-7 ,.col-lg-8, .col-lg-3 {
    max-width: 100%;
  }
  .list .col {
    width: 100%;
  }
}
@media screen and (max-width: 991px){
  .mobile {
    display: block;
  }
  .pc {
    display: none;
  }
  
  .container {
      width: 100%;
      padding: 0 15px;
  }
  .padding-left {
    padding-left: 15px!important;
  }
  .padding-right {
    padding-right: 15px!important;
  }


  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .outer-img {
    margin-bottom: 30px;
  }
  .outer-img img {
    width: 100%;
  }
  .header h1 {
    font-size: 72px;
  }
  .header h2 {
    font-size: 36px;
  }
  .title h3 {
    font-size: 36px;
  }

  .list-1 ul {
    flex-wrap: wrap;
  }
  .list-1 ul li {
    width: 50%;
    margin-bottom: 20px;
  }
  .list-1 ul li:nth-child(3) {
    border-left: 0;
}
.title-up {
  width: 600px;
}
.title-up h3 {
  font-size: 36px;
}
.section-end img {
  max-width: 400px;
}
img.mobile {
  width: 100%;
}
.art-team {
  width: 50%;
}
}
@media screen and (max-width: 540px){
  .title-s {
    margin-bottom: 30px;
  }
  .row-style {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .row-style .col-lg-6 {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  .section-end img {
    max-width: 300px;
  }
  .section-appendix .heading strong {
    font-size: 24px;
  }
  .outer-team {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .art-team {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  .art-streams .number {
    width: 100px;
    height: 100px;
  }
  .art-streams .des p {
    font-size: 16px;
  }
  .title-up {
    width: 100%;
  }
  .title-up h3 {
    font-size: 18px;
    height: 80px;
    line-height: 80px;
  }
  .box-nft {
    padding: 20px 0;
  }
  .box-nft span {
    padding-top: 10px;
  }
  .list-1, .art-title .inner, .block-1, .art-style, .outer-style .inner, .outer-nft .inner-nft, .box-bottom .inner {
    padding: 30px;
  }
  .style img {
    margin-top: 30px;
  }
  .row-style .col-lg-6 {
    margin-bottom: 30px;
  }
  .list-1 ul {
    padding-bottom: 20px;
  }
 
  .list-1 ul li {
    width: 100%;
    border-left: 0;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to right, #EF5DA8, #C95EBA, #AE5EC8, #5D5FEF);
    border-radius: 5px;
    color: #fff;
   
  }
  .list .col {
    padding-left: 15px;
    padding-right: 15px;
  }
  .mb-5 {
    margin-bottom: 30px;
  }
  .mt-5 {
    margin-top: 30px;
  }
  .header h1 {
    font-size: 36px;
  }
  .header h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .btn-style span {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
  }
  .outer-style .inner-style {
    padding: 30px;
  }
  .title h3 {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .cat {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .icon-check {
    width: 40px;
    height: 40px;
  }
}


@media screen and (min-width: 1199px) and (max-width: 1440px) {
  
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbb; 
}